/*
general
*/

@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  font-size: 18px;
  color: rgba(0,0,0,0.7);
}

html, body, h1, h2, h3, h4, h5, h6, button {
  font-family: "Lato", "Noto sans", "Helvetica Neue", Arial, Helvetica, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

[data-toggle="sidebar"] {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
}

/*
text
*/

.logo {
  font-family: "Oswald"!important;
  font-weight: normal!important;
}

.en {
  line-height: 1.5em!important;
}

.en.compact {
  line-height: 1.2em!important;
}

.tw {
  line-height: 1.7em!important;
}

.tw.compact {
  line-height: 1.4em!important;
}

.bg {
  color: #fffbf0!important;
}

/*
containers
*/

.ui.stripe.container {
  margin: 1rem 0;
}

.ui.double.stripe.container {
  margin: 2rem 0;
}

.video.container {
  max-width: 720px;
  margin: 0 auto;
}

.ui.container {
  width: 100%;
  max-width: 1200px!important;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 767px) {

.ui.container {
  padding-left: 0;
  padding-right: 0;
}

}

/*
fix semantic ui stuff
*/

.ui.icon.label .icon {
  margin: 0;
  width: 1em;
  height: 1em;
}

.ui.items>.item .extra>*:last-child {
  margin-right: 0;
}

.ui.list>.item .label {
  margin-left: 0.5em;
}

.ui.celled.relaxed.list>.item:first-child {
  padding-top: .42857143em;
}

.ui.celled.relaxed.list>.item:last-child {
  padding-bottom: .42857143em;
}

@media only screen and (max-width: 767px) {

.ui.stackable.celled.grid>.column:not(.row), 
.ui.stackable.celled.grid>.row>.column, 
.ui.stackable.divided:not(.vertically).grid>.column:not(.row), 
.ui.stackable.divided:not(.vertically).grid>.row>.column {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
  border-top: none;
}

}

/*
utilities
*/

.ui.marginless.segment {
  margin: 0;
}

.ui.paddingless.segment {
  padding: 0;
}

.floated.left {
  float: left;
}

.floated.right {
  float: right;
}

.left.aligned {
  text-align: left;
}

.center.aligned {
  text-align: center;
}

.right.aligned {
  text-align: right;
}

.inline.displayed {
  display: inline-block!important;
}

@media only screen and (max-width: 767px) {

.right.aligned,
.left.aligned {
  text-align: center!important;
}

}

/*
for semantic ui sidebar
*/

#sidebar .ui.decorative.image {
  opacity: 0.9;
  margin-bottom: 0.5rem;
}
#sidebar .ui.decorative.image:hover {
  opacity: 1;
}

#sidebar .ui.vertical.menu .item .icon,
#sidebar .ui.vertical.menu .item a {
  color: #fffbf0;
}
#sidebar .ui.vertical.menu .item .icon {
  opacity: 0.5;
}
#sidebar .ui.vertical.menu .item a {
  opacity: 0.8;
}
#sidebar .ui.vertical.menu .item:hover .icon {
  opacity: 0.8;
}
#sidebar .ui.vertical.menu .item:hover a {
  opacity: 1;
}
#sidebar .ui.vertical.menu .item>i.icon {
  margin: 1em 0 0 0.5em;
}

/*
for semantic ui sidebar on ios
*/

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

