@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  font-size: 18px;
  color: rgba(0,0,0,0.7);
}

html, body, h1, h2, h3, h4, h5, h6, button {
  font-family: "Lato", "Noto sans", "Helvetica Neue", Arial, Helvetica, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

.logo {
  font-family: "Oswald"!important;
  font-weight: normal!important;
}

.en {
  line-height: 1.5em!important;
}

.en.compact {
  line-height: 1.2em!important;
}

.tw {
  line-height: 1.7em!important;
}

.tw.compact {
  line-height: 1.4em!important;
}

.bg {
  color: #fffbf0!important;
}

.decorative.image {
  opacity: 0.7;
}

.ui.marginless.segment {
  margin: 0;
}

.ui.paddingless.segment {
  padding: 0;
}

.ui.stripe.container {
  margin: 1rem 0;
}

.ui.double.stripe.container {
  margin: 2rem 0;
}

.ui.icon.label .icon {
  margin: 0;
  width: 1em;
  height: 1em;
}

.floated.left {
  float: left;
}

.floated.right {
  float: right;
}

.left.aligned {
  text-align: left;
}

.center.aligned {
  text-align: center;
}

.right.aligned {
  text-align: right;
}

.inline.displayed {
  display: inline-block!important;
}

@media only screen and (max-width: 767px) {

.right.aligned,
.left.aligned {
  text-align: center!important;
}

}

.vertical.padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.horizontal.padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* for container */

.ui.container {
  width: 100%;
  max-width: 1200px!important;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 767px) {

.ui.container {
  padding-left: 0;
  padding-right: 0;
}

}

/* for semantic ui sidebar */

#header .ui.menu .item[data-display="mobile"] {
  display: none;
  margin-right: -1.14285714em;
}

#header .ui.menu .item[data-display="mobile"] i.icon {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {

#header .ui.menu .item[data-display="desktop"] {
  display: none;
}

#header .ui.menu .item[data-display="mobile"] {
  display: block;
}

}

/* for semantic ui sidebar on ios */

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

