/*
general
*/

#homepage {
  background: #fffbf0;
}

/*
header
*/

#homepage #hero {
  color: #fffbf0!important;
  font-size: 1.2rem;
}

#homepage #hero .ui.pointing.below.basic.label {
  color: #fffbf0;
  background-color: #80cbc4;
  border-color: #fffbf0;
  font-family: "Oswald";
  font-weight: normal;
}

#homepage #hero h1 {
  margin-top: 0;
}

#homepage #hero .ui.basic.inverted.button,
#homepage #footer .ui.basic.inverted.button {
  color: #fffbf0!important;
  box-shadow: 0 0 0 2px rgba(255,251,240,.5) inset!important;
}

#homepage #hero .ui.basic.inverted.button:hover,
#homepage #footer .ui.basic.inverted.button:hover {
  box-shadow: 0 0 0 2px rgba(255,251,240,1) inset!important;
}

/*
body
*/

#homepage .section {
  padding: 1rem 0;
}

#homepage .levelone.ui.divided.grid:not([class*="vertically divided"])>.column:not(.row),
#homepage .levelone.ui.divided.grid:not([class*="vertically divided"])>.row>.column {
  box-shadow: -1px 0 0 0 #80cbc4;
}

#homepage .levelone.ui.divided.grid:not([class*="vertically divided"])>.column:first-child,
#homepage .levelone.ui.divided.grid:not([class*="vertically divided"])>.row>.column:first-child {
  box-shadow: none;
}

/*
body: metrics
*/

#homepage #content .ui.items>.item .header {
  margin-bottom: 0;
}

#homepage #content .ui.items>.item .ui.stackable.grid {
  margin: 0!important;
  width: 100%;
}

#homepage #content .ui.image {
  max-height: 6rem;
}

#homepage .ui.column .ui.basic.label,
#homepage .ui.list .ui.basic.label {
  background: none!important;
}


@media only screen and (max-width: 767px) {


}

